body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    margin: 0;
}
*, 
*:before,
*:after {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.intro {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro__inner {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}
.intro__tittle {
    font-family: 'Comfortaa', cursive;
    font-weight: 500;
    font-size: 60px;
    text-align: center;
    line-height: 1.1;
    text-transform: uppercase;
}
.intro__suptittle {
    font-family: 'Montserrat Alternates', sans-serif;
    color: rgb(28,176,28);
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 20px;
    border-bottom: 3px solid black;
}
.intro__btn {
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    padding: 10px 15px;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    border: 3px solid black;
    border-radius: 5px;
    
    color: black;
    margin-top: 100px;
    transition: 0.2s linear;
}
.intro__btn:hover {
    color: white;
    background-color: black;
}
.intro__arrow__icon {
    width: 100px;
}
.header {
    padding-top: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    
    /* backdrop-filter: blur(15px); */
    background-color: white;
}
.header__inner {
    border-bottom: 3px solid black;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
}
.header__logo {
    font-weight: 700;
    font-size: 32px;
}
.header__logo__part__one {
    color: rgb(28,176,28);
    border: 3px solid black;
    padding: 3px 5px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
}
.header__logo__part__two {
    padding: 3px;
    font-weight: 600;
    border-bottom: 3px solid rgb(28,176,28);
}

.header__nav {
    position: relative;
    top: 15px;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
}
.nav__link {
    padding: 5px;
    border: 2px solid rgba(255, 255, 255, 0);
    display: inline-block;
    vertical-align: top;
    margin-left:12px;
    margin-bottom: 0;
    text-decoration: none;
    color: black;
    transition: color 0.2s linear, border 0.2s linear;
}
.nav__link.active {
    border: 2px solid rgb(28,176,28);
    border-bottom-left-radius: 7px;
    border-top-right-radius: 7px;
    color: rgb(28,176,28);
}
.nav__link:hover {
    color: rgb(28,176,28);
    border-bottom: 2px rgb(28,176,28) solid;
    color: var(--hover-nav-link-color);
    border-bottom: var(--hover-nav-link-border-bottom);
}