<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:wght@300;400;500;600;700&family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    {% if title %}
        <title>Digital Auction - {{ title }}</title>
    {% else %}
        <title>Digital Auction</title>
    {% endif %}
</head>
<body>
<header class="header">
        <div class="container">
            <div class="header__inner">
                <div class="header__logo">
                    <span class="header__logo part__one">Digital</span>
                    <span class="header__logo part__two">Auction</span>
                </div>

                <nav class="header__nav">
                    <a class="nav__link main" href="/">Главная</a>
                    <a class="nav__link auc" href="#">Аукцион</a>
                    <a class="nav__link lk" href="/account">Личный кабинет</a>
                    <a class="nav__link more" href="/about">Подробнее</a>
                    <a class="nav__link supp" href="#">Поддержка</a>
                </nav>
            </div>
        </div>
    </header>
    {% block body %}{% endblock %}
</body>
</html>